#card {
  border: 1px solid black;
  margin-top: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokemon {
  font-weight: bold;
}

#card img {
  width: 100px;
  height: 100px;
}
